* {
    padding: 0;
    margin: 0;
}
nav {
    height: 80px;
    background-color: black;
}
nav label {
    color: white;
    line-height: 80px;
    font-size: 40px;
    margin-left: 5px;
    font-weight: bold;
    padding: 0 20px;
}
nav ul {
    line-height: 80px;
    float: right;
    margin-right: 15px;
}
nav ul li {
    text-decoration: none;
    display: inline-block;
}
nav ul li a:hover {
    background-color: rgb(40, 40, 40);
    color: white;
    transition: .25s;
}
nav ul li a {
    text-decoration: none;
    padding: 29px 15px;
    font-size: 20px;
    color: rgb(173, 173, 173);
    font-family: sans-serif;
    font-weight: bold;
}
.selected{
    text-decoration: none;
    font-size: 20px;
    padding: 5px 5px;
    color: black;
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 8px;
}
.selected:hover{
    color: black;
    background-color: white;
}
#check{
    display: none;
}
.btn{
    display: none;
}

@media only screen and (max-width: 774px) {
    nav{
        height: 65px;
    }
    nav label{
        line-height: 65px;
        font-size: 30px;
    }
    nav ul {
        margin-right: 0;
        width: 1px;
        float: left;
    }
    nav ul li{
        display: none;
    }
    nav ul li a{
        font-size: 10px;
    }
    .btn{
        display: block;
        float: right;
    }
    .btn:hover{
        background-color: rgb(36, 36, 36);
    }
    #check{
        float: right;
    }
    #check:checked ~ ul{
        width: 100%;
        background-color: rgb(36, 36, 36);
        text-align: center;
        transition: .5s;
    }
    #check:checked ~ ul li{
        display: block;
        transition: 1s;
    }
    #check:checked ~ ul li a{
        font-size: 20px;
    }
}